body {
    margin: 0;
    font-family: 'Work Sans', serif;
    font-weight: 200;
    background-image: linear-gradient(to top, rgb(255,141,0) 0%, rgb(134,0,216) 100%);
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#magic-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#magic-container svg {
    width: 100%;
    height: 100%;
}

#page-header {
    margin: 2%;
}

#page-header svg {
    opacity: 0.9;
}

#logo-flex {
    display: flex;
    align-items: center;
}

#header-logo {
    width: 60px;
    height: 60px;
}

#logo-name {
    color: white;
    margin-left: 0.5em;
    font-size: 2em;
}

#caption {
    position: absolute;
    color: white;
    font-size: 4em;
    text-align: center;
}

@media screen and (min-width: 1921px) {
    /* 1440p screens */
    #caption {
        font-size: 5em;
    }
}

@media screen and (min-width: 2561px) {
    /* 4K/very large screens */
    #header-logo {
        width: 100px;
        height: 100px;
    }

    #logo-name {
        font-size: 3em;
    }

    #caption {
        font-size: 6em;
    }
}

@media screen and (max-width: 480px) {
    /* portrait phone styles */
    #page-header {
        margin: 5%;
    }

    #header-logo {
        width: 50px;
        height: 50px;
    }

    #logo-name {
        font-size: 1.5em;
    }

    #caption {
        font-size: 2em;
    }
}

@media screen and (max-height: 480px) and (orientation: landscape) {
    /* landscape phone styles */
    #page-header {
        margin: 2%;
    }

    #header-logo {
        width: 50px;
        height: 50px;
    }

    #logo-name {
        font-size: 1.5em;
    }

    #caption {
        font-size: 2em;
    }
}
