#magic-svg-3 {
    position: relative;
    /* for when fixed */
    top: 0;
    left: 0;
}

path.map-bar {
    shape-rendering: crispEdges;
}

g.pathGroup path {
    fill: rgb(100,200,255);
    filter: url(#map-erode);
}

@media screen and (min-width: 1921px) {
    g.pathGroup path {
        filter: url(#map-erode-more);
    }
}

@media screen and (min-width: 2561px) {
    g.pathGroup path {
        filter: url(#map-erode-most);
    }
}
