@media only screen and (min-width: 1440px) {
	.navbar {
		position: fixed;
		background-color: white;
		opacity: 0.7;
		width: 100%;
		top: 0px;
		left: 0px;
		box-shadow: 0px 2px 10px black;
	}

	.navbar a {
		color: black;
		text-decoration: none;
		display: block;
		text-align: center;
		width: 80px;
		padding: 10px;
	}
}

@media only screen and (max-width: 1080px) {
	.navbar {
		position: fixed;
		background-color: white;
		opacity: 0.7;
		width: 100%;
		top: 0px;
		left: 0px;
		box-shadow: 0px 5px 10px black;
	}

	.navbar a {
		color: black;
		text-decoration: none;
		display: block;
		text-align: center;
		font-size: 300%;
		width: 20vw;
		padding: 30px 10px 30px 10px;
	}
}



.navbar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.navbar li#homebar {
	display: inline-block;
	margin-right: -4px;
	box-shadow: -6px 0 white, 6px 0 white, 0 6px 4px -2px #CCCCCC;
}

.navbar li#homebar:hover {
}

.navbar li#aboutbar {
	display: inline-block;
	margin-right: -4px;
	box-shadow: -6px 0 white, 6px 0 white, 0 6px 4px -2px #22316C;
}

.navbar li#aboutbar:hover {
}

.navbar li#findmebar {
	display: inline-block;
	margin-right: -4px;
	box-shadow: -6px 0 white, 6px 0 white, 0 6px 4px -2px #33B5E5;
}

.navbar li#findmebar:hover {
}

.navbar li#blogbar {
	display: inline-block;
	margin-right: -4px;
	box-shadow: -6px 0 white, 6px 0 white, 0 6px 4px -2px #CCCCCC;
}

.navbar li#blogbar:hover {
}