#magic-container #scroll {
    position: absolute;
    top: 0;
    left: 50px;
    width: 15px;
}

.svg-scroll-line {
    opacity: 0.3;
    shape-rendering: crispEdges;
}

.svg-scroll-point {
    opacity: 0.5;
    width: 15px;
    height: 15px;
    fill: white;
}

.svg-scroll-point-mask-rect {
    width: 15px;
    height: 15px;
}

#svg-scroll-line-dotted {
    fill: white;
}
