#slider {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
    opacity: 0;
}

.slider-disabled {
    pointer-events: none;
}

.noUi-target {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: none;
    border: none;
}

.noUi-handle {
    box-shadow: none;
    cursor: grab;
}

.noUi-handle:focus {
    outline: none;
}

.noUi-handle:active {
    cursor: grabbing;
}

.noUi-handle::before,
.noUi-handle::after {
    background: white;
}

.noUi-value {
    display: none;
}

.noUi-tooltip {
    top: 150%;
    font-size: 2em;
    background: none;
    border: none;
    color: white;
}

.noUi-marker.noUi-marker-horizontal {
    color: white;
    background: white;
    opacity: 0.6;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: default;
}

@media screen and (min-width: 1921px) {
    .noUi-target {
        height: 36px;
    }

    .noUi-horizontal .noUi-handle {
        height: 46px;
        width: 56px;
        right: -28px;
    }

    .noUi-tooltip {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 2561px) {
    .noUi-target {
        height: 48px;
    }

    .noUi-horizontal .noUi-handle {
        height: 58px;
        width: 70px;
        right: -35px;
    }

    .noUi-tooltip {
        font-size: 3em;
    }
}

@media screen and (min-width: 1025px) and (orientation: portrait) {
    .noUi-target {
        height: 48px;
    }

    .noUi-horizontal .noUi-handle {
        height: 58px;
        width: 70px;
        right: -35px;
    }

    .noUi-tooltip {
        font-size: 3em;
    }
}
