#magic-svg-1 {
    position: relative;
    z-index: 999;
}

.svg-table-header {
    /* fill: rgb(74, 153, 212);
    stroke: rgb(74, 153, 212); */
    shape-rendering: crispEdges;
}

.svg-table-header-text {
    font-weight: 400;
    alignment-baseline: middle;
    fill: white;
    opacity: 0.8;
}

.svg-table-row {
    fill: rgb(0, 0, 0, 0);
    shape-rendering: crispEdges;
}

.svg-table-row-text {
    alignment-baseline: middle;
    fill: white;
    font-weight: 300;
}

@media screen and (min-width: 1921px) {
    .svg-table-header-text, .svg-table-row-text {
        font-size: 2em;
    }
}
