.svg-table-header {
    fill: rgb(74, 153, 212);
    stroke: rgb(74, 153, 212);
    shape-rendering: crispEdges;
}

.svg-table-header-text {
    font-weight: bold;
    alignment-baseline: middle;
    fill: white;
}

.svg-table-row {
    fill: white;
    stroke: black;
    shape-rendering: crispEdges;
}

.svg-table-row-text {
    alignment-baseline: middle;
}
